In [39]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# Any results you write to the current directory are saved as output.

/kaggle/input/temperature-readings-iot-devices/IOT-temp.csv

In [40]:
import pandas as pd

dataset = pd.read_csv("/kaggle/input/temperature-readings-iot-devices/IOT-temp.csv")
dataset

,id,room_id/id,noted_date,temp,out/in
0,__export__.temp_log_196134_bd201015,Room Admin,08-12-2018 09:30,29,In
1,__export__.temp_log_196131_7bca51bc,Room Admin,08-12-2018 09:30,29,In
2,__export__.temp_log_196127_522915e3,Room Admin,08-12-2018 09:29,41,Out
3,__export__.temp_log_196128_be0919cf,Room Admin,08-12-2018 09:29,41,Out
4,__export__.temp_log_196126_d30b72fb,Room Admin,08-12-2018 09:29,31,In
...,...,...,...,...,...
97601,__export__.temp_log_91076_7fbd08ca,Room Admin,28-07-2018 07:07,31,In
97602,__export__.temp_log_147733_62c03f31,Room Admin,28-07-2018 07:07,31,In
97603,__export__.temp_log_100386_84093a68,Room Admin,28-07-2018 07:06,31,In
97604,__export__.temp_log_123297_4d8e690b,Room Admin,28-07-2018 07:06,31,In
97605,__export__.temp_log_133741_32958703,Room Admin,28-07-2018 07:06,31,In

In [41]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 97606 entries, 0 to 97605
Data columns (total 5 columns):
id            97606 non-null object
room_id/id    97606 non-null object
noted_date    97606 non-null object
temp          97606 non-null int64
out/in        97606 non-null object
dtypes: int64(1), object(4)
memory usage: 3.7+ MB

In [42]:
dataset.describe()

               temp
count  97606.000000
mean      35.053931
std        5.699825
min       21.000000
25%       30.000000
50%       35.000000
75%       40.000000
max       51.000000

### ** 1. What was the max and min temperature?**

In [43]:
print("Min value: " + str(dataset.temp.min()))

Min value: 21

In [44]:
print("Max value: " + str(dataset.temp.max()))

Max value: 51

### ** 2. How outside temperature was related to inside temperature? any relation between the two?**

In [45]:
out_temp = dataset.loc[dataset["out/in"] == "Out"]
in_temp = dataset.loc[dataset["out/in"] == "In"]

In [46]:
in_temp.temp

0        29
1        29
4        31
5        31
6        29
         ..
97601    31
97602    31
97603    31
97604    31
97605    31
Name: temp, Length: 20345, dtype: int64

In [47]:
out_temp.temp

2        41
3        41
10       42
11       42
16       41
         ..
97587    32
97588    32
97594    32
97596    32
97599    32
Name: temp, Length: 77261, dtype: int64

In [48]:
in_temp

,id,room_id/id,noted_date,temp,out/in
0,__export__.temp_log_196134_bd201015,Room Admin,08-12-2018 09:30,29,In
1,__export__.temp_log_196131_7bca51bc,Room Admin,08-12-2018 09:30,29,In
4,__export__.temp_log_196126_d30b72fb,Room Admin,08-12-2018 09:29,31,In
5,__export__.temp_log_196125_b0fa0b41,Room Admin,08-12-2018 09:29,31,In
6,__export__.temp_log_196121_01544d45,Room Admin,08-12-2018 09:28,29,In
...,...,...,...,...,...
97601,__export__.temp_log_91076_7fbd08ca,Room Admin,28-07-2018 07:07,31,In
97602,__export__.temp_log_147733_62c03f31,Room Admin,28-07-2018 07:07,31,In
97603,__export__.temp_log_100386_84093a68,Room Admin,28-07-2018 07:06,31,In
97604,__export__.temp_log_123297_4d8e690b,Room Admin,28-07-2018 07:06,31,In
97605,__export__.temp_log_133741_32958703,Room Admin,28-07-2018 07:06,31,In

In [49]:
import seaborn as sns
from scipy.stats import pearsonr

corr, _ = pearsonr(out_temp.temp[:len(in_temp.temp)], in_temp.temp)
print(corr)

0.1090346292495074

In [57]:
dataset.noted_date[0]

'08-12-2018 09:30'

### ** 3. which was the hottest/coolest month ?**

In [67]:
dataset["month"] = [date[3:5] for date in dataset["noted_date"]]

In [73]:
temperatures_per_month = dataset.groupby(["month"]).mean()

In [85]:
print("The hottest temperature is: " + str(temperatures_per_month.temp.max()))

The hottest temperature is: 39.26530950016551

In [86]:
print("The coolest temperature is: " + str(temperatures_per_month.temp.min()))

The coolest temperature is: 30.531012940651493